* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fbe9ff;
}

.container {
    background: white;
    padding: 30px 40px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

#quote {
    margin: 20px 0;
    font-size: 16px;
    color: #444;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff67c4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background: #ff41af;
}




 

    
















